@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body{
background-color: rgb(36, 36, 36);

}

img#sol{
    display: inline;
    border-radius: 50%;
    box-shadow: 10px 0px 15px rgba(255, 123, 0, 0.836);
    transform: translate(-60%, 30%);
}

img#sol:hover{
    border: 2px solid rgb(255, 255, 255);
    margin-left: 6px;
}

img#merc{
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: translate(-180%, -20%);
}

img#merc:hover{
    border: 2px solid rgb(255, 255, 255);
    margin: 1px;
}

img#venus{
    display: inline;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-110%, -4%); 
}

img#venus:hover{
    border: 2px solid rgb(255, 255, 255);
    
}